.shelby {
	background-color:#4aaaa5;
	color:#fff;
	font-size:35px;
	width:190px;
	height:40px;
	position:absolute;
	float:left;
	margin-left:100px;
	padding:30px;

.background {
	background-image:url("images/symphony.png");
	background-repeat: repeat;
}